.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
.arc path {
    stroke: #fff;
  }

#chart-container{
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.chart{
  background: gray;
  position: relative;
  width: 100%;
  display: block;
}