.bias-section {
    width: 50%;
    /* margin: 3px; */
    display: flex;
    flex-direction: column;
}

.bias-bar {
    height: 50%;
    width: auto;
    align-items: center;
    justify-content: center;
}

.below-bias{
    height: 50%;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 3px 0;
}

.cred-level{
    height: 100%;
    width: 50%;
    /* margin: 0 !important; */
    align-items: center;
    justify-content: center;
}

.total-num{
    height: 100%;
    width: 50%;
    /* margin: 0 !important; */
    align-items: center;
    justify-content: center;
}

.bar-img{
    position: relative;
    width: 80%;
    height: auto;
}