.logo,
.date {
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logo-img {
    max-height: 40px;
    padding: 10px;
}

.date{
    margin-top: 6px !important;
}

.header-value {
    padding: 10px !important;
}