.emoji {
    background-color: #fff;
    width: 50%;
    text-align: center;
    position: relative;
    margin: 3px;
    overflow: hidden;
}

.score {
    padding-bottom: 5%;
}

.emoji-img{
    min-width: 150px;
    width: 100%;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

.emoji-scores-img{
    position: absolute;
    width: 15%;
    min-width: 40px;
    right: 15px;
    bottom: 15px;
}