*{
    box-sizing: content-box;
    letter-spacing: 1px;
    margin: 0;
}

html{
    font-family: "PT Sans", sans-serif;
}

.root{
    width: 100%;
    margin:0;
}

body{
    margin: 0;
}

#app{
    background-color: #fff;
}

.app-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: #000;
    padding: 3px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .app-container {
        width: 100%;
    }
}

.row {
    display: flex;
    height: 50%;
    min-height: 300px;
}

/* class for each component container */
.component-container {
    background-color: #fff;
    margin: 3px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.titles{
    position: relative;
    width: 90%;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 5%;
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
}

.personas {
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.personas{
   margin: 0 !important; 
}
